.car {
  animation-name: drive;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes drive {
  from { left: 20%; }
  to { left: 80%; }
}

@media(max-width: 992px) {
  @keyframes drive {
    from { left: 50%; }
    to { left: 80%; }
  }
}
